:root {
    --vert-ci: #16703c;
}
/* margin et marggin par defaut annuler */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* couleur de fond */
.body {
    background-color: #86bd5f;
}
/* styles header */
.header {
    margin-top: 30px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-left: 50px;;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* styles paragraphe header */
.header_paragraph {
    color: var(--vert-ci);
    border: 2px solid var(--vert-ci);
    padding: 10px;
}
/* styles bar de naviagation header */
.nav_bar {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
}
.nav_bar a {
    text-decoration: none;
    color: var(--vert-ci);
}

/* styles du menu */
/* styles du paragraphe et titre du menu */
.titre_paragragh_menu {
    text-align: center;
    margin-top: 50px;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
}
/* styles des titres des sections */
.titres_sections {
    margin-top: 30px;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 200px;
}
/* styles des images des sections du menu */
.images_sections_menu {
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 40px;
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

}

/* styles footer */
/* styles globale footer*/
.pied_de_page {
    background-color: var(--vert-ci);
    padding: 50px 50px 20px 50px;
}
/* styles footer  contacts reseaux sociaux*/
.footer_contact_reseaux_sociaux {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
/* styles barre de navigation footer contacts reseaux sociaux */
.nav_bar_footer_contact_reseaux_sociaux {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
/* styles barre de navigation footer contacts */
.nav_bar_footer_contact {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
/* styles paragraphe copyright */
.copyrigth {
    text-align: center;
    margin-top: 30px;
}